/* General Styles */
body {
	font-family: 'Lato', sans-serif;
}

footer {
	background: #03A9F4;
	border-top: 4px solid #FFFFFF;
	color: #FFFFFF;
	margin: 0;
	padding: 20px;
}
	footer .left {
		float: left;
		padding-left: 10px;
	}
	footer .right {
		float: right;
		padding-right: 10px;
	}

h1 {
	font-size: 3em; /* Keep font size same for mobile screen */
}

h2 {
	font-size: 2.5em; /* Keep font size same for mobile screen */
}

section {
	padding: 2em 0;
}


/* Custom Classes and IDs */
#about {
	background-image: url('../images/background.jpg');
	background-attachment: fixed; /* Parallax effect */
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 150px;
	padding-top: 150px;
}
	#about a {
		color: #FF5722;
	}
	#about h1 {
		padding-bottom: 50px;
	}
	#about p {
		font-size: 1.5em;
	}
	#about .profile-img {
		border: 4px solid #FFFFFF;
		border-radius: 50%;
	}

#contact {
	background: #03A9F4;
	color: #FFFFFF;
	padding-bottom: 10px;
}

#skills {
	border-bottom: 2px solid #BDBDBD;
}

#skills .description, #portfolio .description {
	color: #757575;
	font-size: 1.1em;
}

.brand-logo {
	height: 64px;
	margin-bottom: 10px;
}

.contact-container {
	margin-bottom: 40px;
}
	.contact-container a {
		color: #FFFFFF;
	}
	.contact-icon {
		font-size: 80px;
		transition: font-size 0.5s;
	}
		.contact-icon:hover {
			font-weight: bold;
		}


.project-container {
	position: relative;
	margin-bottom: 40px;
	margin-left: none;
	visibility: hidden; /* Hide until jQuery/animation.css reveal */
	width: 300px;
}
	.project-container .overlay {
		position: absolute;
		background: #03A9F4;
		display: none;
		height: 220px;
		left: 0;
		top: 40px;
		width: 100%;
	}
		.overlay a {
			color: #FFFFFF;
		}
		.overlay .project-navigation {
			line-height: 220px;
			text-align: center;
		}
		.overlay .fa-code, .overlay .fa-play {
			display: block;
			font-size: 75px;
			line-height: 110px;
		}
			.overlay .fa-code:hover, .overlay .fa-play:hover {
				font-size: 100px;
			}
	.project-container img {
		border: 1px solid #BDBDBD;
		border-radius: 5px;
		opacity: 0.9;
	}
	.project-container h4 {
		border-radius: 5px 5px 0 0;
		font-weight: bold;
		text-align: center;
		top: 0;
	}
	.project-container p {
		border-radius: 0 0 5px 5px;
		bottom: 0;
		font-size: 0.8em;
		margin: 0;
		padding-left: 10px;
	}
	.project-container h4, .project-container p {
		position: absolute;
		background: #03A9F4;
		color: #FFFFFF;
		height: 40px;
		left: 0;
		line-height: 40px;
		width: 100%;
	}

.section-title {
	font-weight: bold;
}

.skill-title {
	margin-bottom: 20px;
}

.section-title, .skill-title {
	display: inline-block; /* Stretch to full screen-width */
}


/* Foundation Classes */
.progress {
	/* Background bar */
	background: #B3E5FC;
	margin-bottom: 50px;
}
	.progress .progress-meter {
		/* Fill bar */
		background: #FF5722;
	}

.top-bar {
	background: #03A9F4;
	width: 100%;
}
	.top-bar .top-bar-title {
		color: #FFFFFF;
		margin-left: 7px;
		margin-top: 7px;
	}
		.top-bar-title strong {
			margin-left: 7px;
		}
	.top-bar ul {
		background: #03A9F4;
	}
	.top-bar a {
		color: #FFFFFF;
	}
	.top-bar a:hover {
		font-weight: bold;
	}


/* Animate.css Classes */
.animated {
	visibility: visible; /* Hide until animation */
}

/* Media queries for medium and below screens */
@media only screen and (max-width: 1024px) {
	/* Add padding on mobile screens and center */
	/* Remove background */
	#about {
		background: none;
		border-bottom: 2px solid #BDBDBD;
		padding: 0 5%;
	}
		#about .profile-img {
			border: 2px solid #757575;
			margin-bottom: 50px;
			margin-top: 50px;
		}
	/* Add padding on mobile screens and center */
	#portfolio, #skills {
		margin: 0 5%;
	}
	.project-container {
		margin-left: auto;
		margin-right: auto;
	}
}